@mixin backgrounds($colorString, $color) {
    .background__#{$colorString} {
        background: #{$color};
    }
}
@mixin colors($colorString, $color) {
    .color__#{$colorString} {
        color: #{$color};
    }
}

$backgrounds: (
    "primary": $primary,
    "secondary1": $secondary1,
    "secondary2": $secondary2,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green1": $green1,
    "green2": $green2,
    "green3": $green3,
    "blue1": $blue1,
    "blue2": $blue2,
    "blue3": $blue3,
    "blue4": $blue4,
    "gradient1": $gradient1,
    "gradient2": $gradient2,
    "purple1": $purple1,
    "purple2": $purple2,
    "purple3": $purple3,
    "white": $white,
    "gray1": $gray1,
    "gray2": $gray2,
    "gray3": $gray3,
    "gray4": $gray4,
    "gray5": $gray5,
    "gray6": $gray6,
);
$colors: (
    "black": $black,
    "secondary1": $secondary1,
    "secondary2": $secondary2,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green1": $green1,
    "green2": $green2,
    "green3": $green3,
    "blue1": $blue1,
    "blue2": $blue2,
    "blue3": $blue3,
    "white": $white
);
@each $colorString, $color in $backgrounds {
    @include backgrounds($colorString, $color);
}
@each $colorString, $color in $colors {
    @include colors($colorString, $color);
}
