@mixin padding-generate($prefix, $property...) {
    // List of sizes to generate for each
    $sizes: (0, 0.25, 0.5, 1, 1.5, 3);
    // Spacing to multiply the sizes by
    $spacing: 1rem;

    // Loop through all of the sizes(we use @for rather than @each, as we want access to the index)
    @for $i from 1 through length($sizes) {
        // Get the size for the current index
        $size: nth($sizes, $i);

        // Create the rule
        .#{$prefix}-#{$i - 1} {
            @for $j from 0 to length($property) {
                @if nth($property, $j + 1) != "" {
                    #{nth($property, $j + 1)}: $spacing * $size;
                }
            }
        }
    }
}
$rules: (
    ("p", "padding", ""),
    ("pl", "padding-left", ""),
    ("pt", "padding-top", ""),
    ("pb", "padding-bottom", ""),
    ("pr", "padding-right", ""),
    ("px", "padding-right", "padding-left"),
    ("py", "padding-top", "padding-bottom")
);
@each $item in $rules {
    @include padding-generate(nth($item, 1), nth($item, 2), nth($item, 3));
}
